@-moz-document domain("discord.com") /* ==UserStyle==
@name           Wordmark+ Custom Version
@namespace      https://github.com/TheRealGWJosh
@version        1.0.0
@description    A Quick Import to Give Web Users a Titlebar - Join The Discord Server qafdmryEye
@author         It'sJustJosh#1156
@license        CC0-1.0
@preprocessor   uso
@homepageURL    https://github.com/TheRealGWJosh/Workmark-Plus
@supportURL     https://github.com/TheRealGWJosh/Workmark-Plus/issues
==/UserStyle== */{
	
/* --------------Wordmark+ Only WORKS ON WEB!--------------*/
/* ---------------Made By It'sJustJosh#1156--------------- */
/* Original Theme Mac OS Titlebar Made By Doggybootsy#1333 */
/* ----Big Thanks to him and the Open Styles Community---- */
/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url(https://therealgwjosh.github.io/Workmark-Plus/src/CustomImport.css);

/*
====================================================================================
                                Important Variables
====================================================================================
*/

:root{
 --textmark: 'Discord - Themed By Stylus';
 --customtop: calc( calc(35px * .5) - 8px);
 --customright: calc(50% - -180px) !important;
 --customwidth: 500px; 
 --lightfocused: linear-gradient(#5568a6, #4f5151) !important;
 --lightnormal: linear-gradient(#393a3b, #313232) !important;
 --darkfocused: linear-gradient(#7289DA, #5c5d5d) !important;
 --darknormal: linear-gradient(#7b7c7d, #66696a) !important;
}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/
}
