@-moz-document domain("discord.com") /* ==UserStyle==
@name           Wordmark+ Custom Version
@namespace      https://github.com/TheRealGWJosh
@version        1.0.1
@description    A Quick Import to Give Web Users a Titlebar - Join The Discord Server qafdmryEye
@author         It'sJustJosh#1156
@license        CC0-1.0
@preprocessor   uso
@homepageURL    https://github.com/TheRealGWJosh/Workmark-Plus
@supportURL     https://github.com/TheRealGWJosh/Workmark-Plus/issues
@var color lf "Light Focused"                           #5568a6
@var color df "Dark  Focused"                           #7289DA
@var color ln "Light  Normal"                           #313232
@var color dn "Dark   Normal"                           #66696a
@var text  cw "Text    Width"                             500px
@var text  cr "Text Position Right"           calc(50% - -180px)
@var text  ct "Text Position   Top" calc( calc(35px * .5) - 8px)
@var text  tm "Discord  Text"     "'Discord - Themed By Stylus'"
==/UserStyle== */{
	
/* --------------Wordmark+ Only WORKS ON WEB!--------------*/
/* ---------------Made By It'sJustJosh#1156--------------- */
/* Original Theme Mac OS Titlebar Made By Doggybootsy#1333 */
/* ----Big Thanks to him and the Open Styles Community---- */
/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url(https://therealgwjosh.github.io/Workmark-Plus/src/CustomImport.css);

/*
====================================================================================
                                Important Variables
====================================================================================
*/

:root{
 --textmark:      /*[[tm]]*/;
 --customtop:     /*[[ct]]*/;
 --customright:   /*[[cr]]*/;
 --customwidth:   /*[[cw]]*/; 
 --lightfocused:  /*[[lf]]*/;
 --lightnormal:   /*[[ln]]*/;
 --darkfocused:   /*[[df]]*/;
 --darknormal:    /*[[dn]]*/;
}

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/
}
