@-moz-document domain("discord.com")                                     /* ==UserStyle==
@name                                                                           Wordmark+
@namespace                                               https://github.com/TheRealGWJosh
@version                                                                            2.0.1
@description                                 A Quick Import to Give Web Users a Titlebar.
@author                                                                 It'sJustJosh#1156
@license                                                                          CC0-1.0
@preprocessor                                                                         uso
@homepageURL                               https://github.com/TheRealGWJosh/Workmark-Plus
@supportURL                         https://github.com/TheRealGWJosh/Workmark-Plus/issues
@updateURL https://github.com/TheRealGWJosh/Workmark-Plus/raw/main/WordmarkPlus.user.styl
@var color lf "Light Focused"                                                     #5568a6
@var color df "Dark  Focused"                                                     #7289DA
@var color ln "Light  Normal"                                                     #313232
@var color dn "Dark   Normal"                                                     #66696a
@var text  tm "Discord  Text"                              "'Discord - Themed By Stylus'"
@var select url "Watermark Type" {
"Normal":        "https://project-browser.github.io/Workmark-Plus/src/WordmarkImport.css",
"Discord Icon":     "https://project-browser.github.io/Workmark-Plus//src/IconImport.css",
"Custom Wordmark": "https://project-browser.github.io/Workmark-Plus/src/CustomImport.css",
"None":                                                                           "None"}
                                                                       ==/UserStyle== */{
/* --------------Wordmark+ Only WORKS ON WEB!--------------*/
/* ---------------Made By It'sJustJosh#1156--------------- */
/* Original Theme Mac OS Titlebar Made By Doggybootsy#1333 */
/* ----Big Thanks to him and the Open Styles Community---- */
/*
====================================================================================
                                Import Source Code
====================================================================================
*/
@import url(/*[[url]]*/);
/*
====================================================================================
                                Important Variables
====================================================================================
*/
:root{
 --textmark:      /*[[tm]]*/;
 --lightfocused:  /*[[lf]]*/;
 --lightnormal:   /*[[ln]]*/;
 --darkfocused:   /*[[df]]*/;
 --darknormal:    /*[[dn]]*/;
}
/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/
}


