@-moz-document domain("discord.com") /* ==UserStyle==
@name           Wordmark+ 
@namespace      https://github.com/TheRealGWJosh
@version        1.0.0
@description    A Quick Import to Give Web Users a Titlebar - Join The Discord Server qafdmryEye
@author         It'sJustJosh#1156
@license        CC0-1.0
@preprocessor   uso
@homepageURL    https://github.com/TheRealGWJosh/Workmark-Plus
@supportURL     https://github.com/TheRealGWJosh/Workmark-Plus/issues
==/UserStyle== */{
/* --------------Wordmark+ Only WORKS ON WEB!--------------*/
/* ---------------Made By It'sJustJosh#1156--------------- */
/* Original Theme Mac OS Titlebar Made By Doggybootsy#1333 */
/* ----Big Thanks to him and the Open Styles Community---- */
/*
====================================================================================
                                Import Source Code
====================================================================================
*/

@import url(https://therealgwjosh.github.io/Workmark-Plus/src/WordmarkImport.css);

/*
====================================================================================
                Please place any Theme-specific Custom CSS Below here
====================================================================================
*/
}
