/* Font Imports */
@import url("https://itsjustjoshdev.github.io/Titlebar/src/Fonts/classic.css");
@import url("https://itsjustjoshdev.github.io/Titlebar/src/Fonts/rebrand.css");

:root {

	/* Import Vars */
	--rebrand-font: 'Discord Rebrand';
	--classic-font: 'Discord Classic';
	--classic-text: "Discord";
	--global-padding-top: var(--WM-Global-Top);
	--global-line-height: 25px;
	--global-webkit-fill: transparent;
	--custom-text: var(--WM-Text) !important;
	--global-padding-left: var(--WM-Position);
	/* Wordmark Position */
	--wordmark-padding-top: 3px;
	--classic-center: 650px;
	--wordmark-default: 6px;
 	--WM-Global-Top: 	var(--wordmark-padding-top);

}
