/* Font & Exrta Import */
@import url("https://itsjustjoshdev.github.io/Titlebar/src/base.css");

[class*="titleBar"] > [class*="wordmark"] > svg {
  width: 0;
}
.theme-dark.app-focused [class*="titleBar"] > [class*="wordmark"]::after,
.theme-light.app-focused [class*="titleBar"] > [class*="wordmark"]::after {
  content: var(--WM-Content);
  position: absolute;
  top: 4px;
  width: 4000px;
  font-family: var(--WM-Type);
  color: var(--brand-experiment);
  font-size: 13px;
}
.theme-dark [class*="titleBar"] > [class*="wordmark"]::after,
.theme-light [class*="titleBar"] > [class*="wordmark"]::after {
  content: var(--WM-Content);
  position: absolute;
  top: 4px;
  width: 4000px;
  font-family: var(--WM-Type);
  color: var(--header-primary);
  font-size: 13px;
}
