/* Wordmark+ Web Version Only*/
/* Made By It'sJustJosh#1156 */
/* Original Theme Mac OS Titlebar Made By Doggybootsy#1333 */
/* Big Thanks to him and the Open Styles Community */
/* Imports */
@import url(https://project-browser.github.io/Workmark-Plus/src/settingswatermark.css);
/* CSS & Font */
[class*="base-"] > [class*="content-"] {background-color: var(--background-secondary);}
[class*="sidebar-"] + div {border-top-left-radius: 8px;}
[class*="base-"]{border-top-left-radius: 8px;}
[class*="guilds-"]
    [class*="scroller-"]
    > [class*="listItem-"]:nth-last-child(-1n + 3) {
    display: none;
}
@font-face {
    font-family: 'Discord';
    src: url("https://project-browser.github.io/Workmark-Plus/assets/Discord-Sans.otf") format("opentype");
}
/* MAIN CODE */
html.theme-dark.app-focused #app-mount::before {
    padding-left: 4px;
    content: var(--textmark);
    font-family: Discord;
    line-height: 25px;
    background: var(--darkfocused);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html.theme-dark #app-mount::before {
    padding-left: 4px;
    content: var(--textmark);
    font-family: Discord;
    line-height: 25px;
    background:  var(--darknormal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html.theme-light.app-focused #app-mount::before {
    padding-left: 4px;
    content: var(--textmark);
    font-family: Discord;
    line-height: 25px;
    background: var(--lightfocused);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html.theme-light #app-mount::before {
    padding-left: 4px;
    content: var(--textmark);
    font-family: Discord;
    line-height: 25px;
    background:  var(--lightnormal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
