/* Wordmark+ Web Version Only*/
/* Made By It'sJustJosh#1156 */
/* Original Theme Mac OS Titlebar Made By Doggybootsy#1333 */
/* Big Thanks to him and the Open Styles Community */
/* Imports */
@import url(https://therealgwjosh.github.io/Workmark-Plus/src/Important.css);
/* Variables */
:root{
/* Logomark Images Change If You Want*/
 --lightlogo: url('https://therealgwjosh.github.io/Workmark-Plus/assets/Discord-Logo-White.svg');
 --focusedlogo: url('https://therealgwjosh.github.io/Workmark-Plus/assets/Discord-Logo-Color.svg');
 --darklogo: url('https://therealgwjosh.github.io/Workmark-Plus/assets/Discord-Logo-Black.svg');
}
/* --Original Logomark SVG-- */ 
.theme-dark::after {
   content: var(--lightlogo) !important;
   position: absolute;
   padding-left: 5px;
   width: 20px;
   top: calc( calc(25px * .5) - 10px);
   right:calc(50% - -660px) !important;
}
.theme-dark.app-focused::after {
   content: var(--focusedlogo) !important;
   width: 20px;
   position: absolute;
   top: calc( calc(25px * .5) - 10px);
   right:calc(50% - -660px) !important;
   padding-left: 5px;
}
.theme-light::after {
   content: var(--darklogo) !important;
   width: 62px;
   position: absolute;
   top: calc( calc(25px * .5) - 8px);
   right:calc(50% - 31px);
   padding-left: 5px;
}
.theme-light.app-focused::after {
   content: var(--focusedlogo) !important;
   width: 62px;
   position: absolute;
   top: calc( calc(25px * .5) - 8px);
   right:calc(50% - 31px);
   padding-left: 5px;
}
