/* Wordmark+ Web Version Only Linux(WIP) Made By It'sJustJosh#1156 
        Original Addon Mac OS Titlebar Made By Doggybootsy#1333 
           Big Thanks to him and the Open Styles Community         */

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@font-face {font-family: 'Discord'; src: url("https://project-browser.github.io/Workmark-Plus/assets/fonts/Discord-Sans.otf") format("opentype");}

:root {

	/* Import Vars */
	--rebrand-font: 'Rubik Mono One', sans-serif;
	--classic-font: 'Discord';
	--classic-text: "Discord";
	--global-padding-top: var(--WM-Global-Top);
	--global-line-height: 25px;
	--global-webkit-fill: transparent;
	--custom-text: var(--WM-Text) !important;
	--global-padding-left: var(--WM-Position);
	/* Wordmark Position */
	--wordmark-padding-top: 3px;
	--classic-center: 650px;
	--wordmark-default: 6px;

}
