/* Font & Exrta Import */
@import url("https://itsjustjoshdev.github.io/Titlebar/src/base.css");

/* CSS */
[class*="sidebar"] {background: transparent;border-radius:  8px 0px 0px 0px;}

html.theme-dark.app-focused #app-mount::before {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: var(--global-padding-top);
    content: var(--WM-Content) !important;
	font: var(--WM-Type);
	font-family: var(--WM-Type);
    line-height: var(--global-line-height);
    background: var(--WM-Dark-Focused);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--global-webkit-fill);
	text-align: left !important;
	justify-content: center !important;
}

html.theme-dark #app-mount::before {
    margin-left: 10px;
    margin-right: 10px;
    content: var(--WM-Content);
	font: var(--WM-Type);
	font-family: var(--WM-Type);
    line-height: var(--global-line-height);
    background:  var(--WM-Dark-Default);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--global-webkit-fill);
	text-align: left !important;
	justify-content: center !important;
}

html.theme-light.app-focused #app-mount::before {
    margin-left: 10px;
    margin-right: 10px;
    content: var(--WM-Content);
	font: var(--WM-Type);
	font-family: var(--WM-Type);
    line-height: var(--global-line-height);
    background: var(--WM-Light-Focused);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--global-webkit-fill);
	text-align: left !important;
	justify-content: center !important;
}

html.theme-light #app-mount::before {
    margin-left: 10px;
    margin-right: 10px;
    content: var(--WM-Content);
	font: var(--WM-Type);
	font-family: var(--WM-Type);
    line-height: var(--global-line-height);
    background:  var(--WM-Light-Default);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--global-webkit-fill);
	text-align: left !important;
	justify-content: center !important;
}
